*, *::after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.userListRow {
    border-bottom: 1px solid lightblue;
}

.gridItem {
    border: 1px solid lightblue;
    font-size: 14px;
    word-wrap: normal;
}

.gridLogin, .gridRepos {
    word-wrap: break-word;
}

.searchBox {
    display: inline-block;
    margin-bottom: 30px;
}

.index {
    font-style:italic;
    font-weight: bold;
    border-bottom: 1px solid black;
}

.userPageProfile {
    border-bottom: 1px solid lightblue;
}

.userInfo {
    font-style: italic;
    color: rgb(141, 203, 224)
}

.history {
    font-style: italic;
    color:rgb(27, 107, 107);
    margin: 0 10px;
}